@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.perfect-rounded{
    border-radius: 100%;    
}
.logo-img{
    width: 2.25rem;
    height: 2.25rem;
}

/* sidebar */
.sidebar {
    width: 85px;
    position: relative;
    z-index: 1;
    border-right: 1px solid rgb(209, 197, 197);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ddd;
    background-color: #fff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

.action-container {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}
/* On smaller screens, where height is less than 750px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 750px) {
    .mySlidebar{
        width: 250px;
    }
}